*
{
    margin: 0;
    padding: 0;
}

.row-1
{
   justify-content:center;
    display: flex;
    margin-bottom: 120px;
}

.shoes
{
    display: flex;
    justify-content: center;
    column-gap: 30px;
}

.row-2
{
    text-align: center;
    margin-bottom: 50px;
}

.row-2 .title
{
    font-size:45px;
}

.border-1
{
    margin-top: 20px;
    width: 600px;
    height: 500px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.button-1
{
    background: lightgrey;
    color: black;
    border-radius: 0.3px;
    transition: background 1s;
    border-style: none;
    width: 293px;
    height: 20px;
    text-align: center;
    padding-bottom: 30px;
    margin-bottom: 20px;
}

.btn-1
{
    display: flex;
    justify-content: center;
    column-gap: 40px;
}

.button-1:hover
{
    color: lightgrey;
    background: black;
}

.border-2
{
    display: flex;
    justify-content: center;
}

.row-3
{
    display: flex;
    justify-content: center;
}


.col1
{
    padding: 10px;
}

.col1 img
{
    width: 293px;
    margin-bottom: 20px;
}






